<!DOCTYPE html>
<html>

<head>

<title>Payment</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="logo-bg"></div>

<div class="contact-info">
R B AKSHIT | 8147842484
</div>

<!-- SIDEBAR -->

<div class="sidebar">

<h3>School ERP</h3>

<a href="/dashboard">Dashboard</a>
<a href="/students">Students</a>
<a href="/expenses">Expenses</a>
<a href="/logout">Logout</a>

</div>

<!-- MAIN -->

<div class="main">

<h1>Student Payment</h1>

<div class="payment-form">

<h2>{{student.name}}</h2>

<p>
Class :
<b>{{student.class}}</b>
</p>

<p>
Total Fee :
<b>₹{{student.total_fee}}</b>
</p>

<p>
Paid :
<b>₹{{student.paid}}</b>
</p>

<p>
Balance :
<b>₹{{balance}}</b>
</p>

<form method="post">

<input
type="number"
name="amount"
placeholder="Enter Amount"
required
>

<button
type="submit"
class="submit-btn"
>

PAY NOW

</button>

</form>

</div>

</div>

</body>
</html>