<!DOCTYPE html>
<html>

<head>

<title>Receipt</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="main">

<button
onclick="window.print()"
class="print-btn"
>

Print Receipt

</button>

<br><br>

<div class="receipt-box">

<!-- WATERMARK -->

<div class="watermark-container">

<div class="watermark">
EXCELLENT SCHOOL
</div>

</div>

<!-- HEADER -->

<div class="school-header">

<img
src="/static/BAVS.jpg"
class="school-logo"
>

<div>

<h2 class="school-title">
EXCELLENT ENGLISH MEDIUM SCHOOL
</h2>

<p class="school-address">
Kalsapura Road, Gadag - 582101
</p>

</div>

</div>

<!-- TITLE -->

<div class="receipt-title">

FEE PAYMENT RECEIPT

</div>

<!-- TABLE -->

<table class="receipt-table">

<tr>
<th>Receipt No</th>
<td>{{p.receipt}}</td>
</tr>

<tr>
<th>Student Name</th>
<td>{{s.name}}</td>
</tr>

<tr>
<th>Class</th>
<td>{{s.class}}</td>
</tr>

<tr>
<th>Amount Paid</th>
<td>₹{{p.amount}}</td>
</tr>

<tr>
<th>Total Fee</th>
<td>₹{{s.total_fee}}</td>
</tr>

<tr>
<th>Total Paid</th>
<td>₹{{s.paid}}</td>
</tr>

<tr>
<th>Balance</th>
<td>₹{{balance}}</td>
</tr>

<tr>
<th>Date</th>
<td>{{p.date}}</td>
</tr>

</table>

<!-- FOOTER -->

<div class="receipt-footer">

Authorized Signature

</div>

</div>

</div>

</body>
</html>